<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Directorio de Empresarios Venezolanos en Austin</title>
	<link rel="icon" href="../static/favicon.ico"/>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
				integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
					integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
					crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
					integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
					crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
					integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
					crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css"
				href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/sl-1.3.1/datatables.min.css"/>

	<script type="text/javascript"
					src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/sl-1.3.1/datatables.min.js"></script>

	<script src="{{ url_for('static', filename='scripts.js') }}"></script>


	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>


    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a href="{{ url_for('main.index') }}">
          <img src="{{ url_for('static', filename='logo.png') }}">
        </a>
        <a href="{{ url_for('main.index') }}" class="py-2 d-none d-md-inline-block">Listado</a>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.profile') }}" class="py-2 d-none d-md-inline-block">Tu Empresa</a>
        {% endif %}

        {% if not current_user.is_authenticated %}

        <a href="{{ url_for('auth.login') }}" class="py-2 d-none d-md-inline-block">Iniciar sesion</a>

        <a href="{{ url_for('auth.signup') }}" class="py-2 d-none d-md-inline-block">Crear cuenta</a>

        {% endif %}
        {% if current_user.is_authenticated %}

          <a href="{{ url_for('auth.logout') }}" class="py-2 d-none d-md-inline-block">Terminar sesion</a>
        {% endif %}
      </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
