<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="margin: 0 !important">
	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<img src="/static/logo.png" style="height: 400px">
		<h2 style="color: white">Listado de Empresas</h2>
		<h4 class="lead font-weight-normal" style="color: white">
			Self-Service Spotify Promotion
		</h4>
	</div>


	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
			<div class="card" style="background-color: #14595B !important; color: white !important;">
				<div class="card-body">
					<h3 class="card-title">Sobre Este Directorio</h3>
					<br>
					<p>Aqui uno puede encontrar diferentes empresas con deuños Venezolanos en Austin, TX</p>
				</div>
			</div>
		</div>

	</div>

	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
			<div class="card" style="background-color: #28256e !important; color:#fee600 !important;">
				<div class="card-body">
					<h5 class="card-title">Contacta Nos</h5>
					{% for message in get_flashed_messages() %}
					<p>{{ message }}</p>
					{% endfor %}
					<form method="POST" action="/contact_form">
						<div class="form-group">
							<input class="form-control" type="email" name="contact_email"
										 placeholder="Email" autofocus="" required>
						</div>
						<div class="field">
							<textarea class="form-control" name="contact_msg" rows="3"
												placeholder="Mensaje"></textarea>
						</div>
						<button class="btn btn-primary" style="margin-top: 10px;">Sobmetir</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}












