<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<img src="/static/logo.png" style="height: 400px">
		<h2>Listado de Empresas</h2>
	</div>


	<div class="row">
		<div class="col col-sm-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Dueño</th>
					<th scope="col">Direccion</th>
					<th scope="col">Numero de Telefono</th>
					<th scope="col">Correo Electronico</th>
					<th scope="col">Area de Servicio</th>
					<th scope="col">Descripcion</th>
				</tr>
				</thead>
				<tbody>
				{% for b in businesses %}
					<tr>
						<th scope="row">{{b.name}}</th>
						<td>{{b.owner}}</td>
						<td>{{b.address}}</td>
						<td>{{b.phone_number}}</td>
						<td>{{b.business_email}}</td>
						<td>{{b.sector}}</td>
						<td>{{b.description}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
			<div class="card" style="background-color: #28256e !important; color:#fee600 !important;">
				<div class="card-body">
					<h5 class="card-title">Contacta Nos</h5>
					{% for message in get_flashed_messages() %}
					<p>{{ message }}</p>
					{% endfor %}
					<form method="POST" action="/contact_form">
						<div class="form-group">
							<input class="form-control" type="email" name="contact_email"
										 placeholder="Email" autofocus="" required>
						</div>
						<div class="field">
							<textarea class="form-control" name="contact_msg" rows="3"
												placeholder="Mensaje"></textarea>
						</div>
						<button class="btn btn-primary" style="margin-top: 10px;">Sobmetir</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}












