{% extends "base.html" %}
{% block content %}

<div class="position-relative overflow-hidden p-3 m-md-3 text-center">
	<div class="col-md-5 p-lg-5 mx-auto my-5">
		<h1>Bienvenido, {{name}}!</h1>
		{% for message in get_flashed_messages() %}
		<p>{{ message }}</p>
		{% endfor %}
	</div>

	<div class="row justify-content-md-center">
		<div class="col-lg-4">
			<div class="card" style="background-color: #14595B !important; color: white !important;">
				<div class="card-body">
					<h3 class="card-title">Detalles de tu Compañia</h3>
					<br>
					<form method="POST" action="/update_company">
						<label for="businessName">Empresa</label>
						<div class="form-group">

							<input id="businessName" class="form-control" type="text" name="business_name"
										 value="{{ business_name }}" required>
						</div>
						<div class="form-group">
							<label for="businessAddress">Direccion</label>
							<input id="businessAddress" class="form-control" type="text" name="business_address"
										 value="{{ business_address }}" required>
						</div>
						<div class="form-group">
							<label for="phoneNumber">Numero de Telefono</label>
							<input id="phoneNumber" class="form-control" type="tel" name="phone_number"
										 value="{{ phone_number }}" required>
						</div>
						<div class="form-group">
							<label for="businessEmail">Correo Electronico</label>
							<input id="businessEmail" class="form-control" type="email" name="business_email"
										 value="{{ business_email }}" required>
						</div>
						<div class="form-group">
							<label for="businessSector">Area de Servicio</label>
							<select id="businessSector" class="form-control" name="business_sector">
								{% for service in services %}
								<option value="{{service}}">{{service}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="businessDescription">Descripcion</label>
							<textarea id="businessDescription" class="form-control" name="business_description"
												value="{{ business_description }}"></textarea>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary" style="margin-top: 10px;">
								Actualizar
							</button>
						</div>
				</form>
			</div>
			<br>
		</div>
	</div>
</div>
</div>

{% endblock %}