.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.body-margin {
  margin-top: 3%;
}

.login-width {
  width:500px;
}

.post-width {
	width: 1000px;
}

.table-in-card {
  max-width: inherit;
}

.table-ovflow {
  max-height: 400px;
  overflow: auto;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1800px;
  }
}