<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}

<div class="row justify-content-md-center">
		<div class="col col-lg-4">
<div class="card" style="background-color: #28256e !important; color:#fee600 !important;">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% if messages[0] == 'Password reset successfully!' %}
					<div class="alert alert-success" role="alert">
						{{ messages[0] }}
					</div>
			{% else %}
				<div class="alert alert-danger" role="alert">
				{{ messages[0] }}
				</div>
			{% endif %}
		{% endif %}
	{% endwith %}
	<div class="card-body">
		<h5 class="card-title">Login</h5>
		<form method="POST" action="/login">
			<div class="form-group">
				<input class="form-control" type="email" name="email"
							 placeholder="Correo Electronico" autofocus="" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password"
							 placeholder="Contraseña" autofocus="" required>
			</div>
			<button class="btn btn-primary" style="margin-top: 10px;">Login</button>
		</form>
		<br>
		<div style="display:inline-block">
			<h5>Se olvido la contraseña?</h5>
			<a href="/reset_password"><button class="btn btn-primary" style="margin-top: 10px;">Resetear</button></a>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}