<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}

<div class="row justify-content-md-center">
		<div class="col col-lg-4">
<div class="card" style="background-color: #28256e !important; color:#fee600 !important;">
	<div class="card-body">
		<h5 class="card-title">Registrese</h5>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="alert alert-danger" role="alert">
			Contraseña o Correo Incorecto
		</div>
		{% endif %}
		{% endwith %}

		<form method="POST" action="/signup">
			<div class="form-group">
				<input class="form-control" type="text" name="first_name"
							 placeholder="Nombre" autofocus="" required>
			</div>


			<div class="form-group">
				<input class="form-control" type="text" name="last_name"
							 placeholder="Apellido" autofocus="" required>
			</div>


			<div class="form-group">
				<input class="form-control" type="email" name="email"
							 placeholder="Correo Electronico" autofocus="" required>
			</div>


			<div class="form-group">
				<input class="form-control" type="password" name="password"
							 placeholder="Contraseña" required>
			</div>

			<button class="btn btn-primary" style="margin-top: 10px;">Registrar</button>
		</form>
	</div>
</div>
</div>
</div>
{% endblock %}